@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap");
[class*=btn-] {
  position: relative;
  margin: 0 40px;
  margin-top: 40vh;
  background-color: #b4d1ec;
  width: 220px;
  height: 60px;
  font-family: "Avenir";
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  color: #6a6a6a;
  border-style: none;
  border-radius: 50px;
  box-shadow: 10px 10px 20px #183d61;
  cursor: pointer;
}
[class*=btn-]:hover {
  background-color: #8cb8e2;
  color: #505050;
}

* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Avenir";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0; */
}
body h1 {
  font-size: 2rem;
}
body h1:hover {
  color: #d0d0d0;
  cursor: pointer;
}
body a {
  text-decoration: none;
}

.body-index {
  background-image: url(/imgs/DJI_0607-Completa.jpg);
  background-position: bottom;
  object-fit: cover;
  height: 100vh;
}
.body-index h1 {
  position: relative;
  font-size: 6rem;
  margin-left: 24vw;
}

.body-home {
  background-image: url(/imgs/DJI_0607-Completa.jpg);
  background-position: bottom;
  object-fit: cover;
  height: 100vh;
}
.body-home h1:hover {
  color: #d0d0d0;
}

.body-about {
  /* background-image: image(); */
  background-image: url(/imgs/mountain04.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.body-portfolio {
  background-image: url(/imgs/mountain05.jpg);
  background-position: top;
  background-size: cover;
}

.body-contact {
  background-image: url(/imgs/mountain03.jpg);
  background-position: top;
  background-size: cover;
}

header {
  width: 100vw;
  height: 20vh;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
}

header div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: fit-content;
  margin-top: 2%;
  margin-left: 50px;
}

.title {
  font-family: "El Messiri", sans-serif;
  font-size: 4rem;
  color: rgb(233, 233, 233);
}

.slogan {
  font-family: "Avenir";
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 200;
  color: rgb(233, 233, 233);
}

.nav-menu {
  margin-top: 3%;
  margin-right: 5%;
}

.nav-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-menu ul li {
  margin: 10px 20px;
  list-style: none;
  border-style: none;
}

.nav-menu ul li a {
  font-family: "El Messiri", sans-serif;
  font-size: 1rem;
  color: rgb(209, 209, 209);
  text-decoration: none;
}
.nav-menu ul li a:hover {
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: rgb(107, 164, 218);
}
.nav-menu ul li a:click {
  color: #d0d0d0;
}

footer {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 90vh;
}

footer h4 {
  color: rgb(233, 233, 233);
  font-size: 1.5rem;
}

/*# sourceMappingURL=styles.css.map */
