*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.body-about{
    // background-repeat: no-repeat;
    // background-position: top;
    // background-size: cover;
    background: rgb(230, 230, 230);
    z-index: 2;
    display: flex;

    
    & .title{
        color: darken($colorTitle, 60%);
        margin-left: 2px;
        
        &:hover{
            color: darken($colorTitle, 45%);
            text-shadow: 1px 1px 10px rgb(143, 142, 142);
            cursor: pointer;
        }
    }
    & header {
        background-color: rgba(rgb(231, 231, 231),80%);
        height: 10vh;
        padding-top: 20px;
        
    }
    
    & .nav-menu{
        
        & a{
            color: darken($colorNavLinks, 60%);
        }
    }
    .switch{
        & input.check-toggle-round-flat:checked ~ .on {
            color: $colorHoverLink;
          }
        & input.check-toggle-round-flat:checked ~ .off {
            color: darken($colorNavLinks, 40);
          }
    }
    .switch > span.on {
        color: darken($colorNavLinks, 40);
    }
}

.img-about{
    display: flex;
    justify-content: center;
    background-image: url(/imgs/DJI_0607-Completa.jpg);
    background-position: bottom;
    //image-resolution: ;
    //object-fit: cover;
    margin-top: 12vh;
    width: 94vw;
    height: 86vh;


    & .subtitle{
        position: relative;
        top: 20vh;
        //left: 35vw;

        //top: 20vh;
        
        //margin: 10px 8px;
        font-family: $fontText;
        font-size: 5rem;
        font-style: italic;
        font-weight: 500;
        color: $colorTitle;
    }
}

.about-text-img{
    display: flex;
    justify-content: center;
    //align-items: center;
    width: 94vw;
    margin: 60px 0;

    & .about-text-img-1 {
        display: flex;
        align-items: center;
        width: 50%;
        height: 30%;
        margin-right: 10px;
        & div{
            width: 20vw;
            & a{
                margin: 50px 0;
                font-size: 4rem;
                color: $colorOrange;
                &:hover{
                    color: $colorHoverLink;
                }
            }
            & p{    
                max-width: 100%;
                margin-right: 20px;

            }
        }
        & img {
            width: 30vw;
            height: 70vh;
        }

    }
    & .about-text-img-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        //height: 30%;
        margin-left: 10px;

        & img {
            width: 60vw;
            height: 450px;    
        }
        & div {
            display: flex;
            margin-top: 20px;
            & .par-1 {
                margin-right: 10px;
            }
            & .par-2 {
                margin-left: 10px;
            }
        }
    }

}


.fondo-imagen{
    //padding: 10vh;
    width: 100vw;
    height: 60vh;
    //background-image: url(/imgs/DJI_0607-Completa.jpg);
    background-image: url(/imgs/road_forest_turn_139665_3840x2160.jpg);
    opacity: 60%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.fondo-imagen::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    // background-color: $colorOrange;
    // opacity: 20%;
    //mix-blend-mode: hard-light; /*hace una mezcla de la imagen con la capa de color puesta encima*/
}

.fondo-imagen * {
    z-index: 0;
    position: relative;
}



.setup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 94vw;
    //height: 30vh;
    margin: 60px 0;

    & img {
        filter: opacity(70%);
    }
    & .setup-lista {
        display: flex;
        justify-content: space-between;
        justify-content: space-around;
        & ul {
            margin: 30px;

            & li {
                font-size: 1.5rem;
            }
        }
    }
}

.about-contact {
    display: flex;
    //flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 60vh;
    margin-top: 40px;
    //background-image: url(/imgs/DJI_0607-Completa.jpg);
    background-image: url(/imgs/road_forest_turn_139665_3840x2160.jpg);
    opacity: 90%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    & .contact-btn {
        width: 15vw;
        min-width: 240px;
        height: 6vh;
        //margin: auto;
        margin-top: 250px;
        //margin-bottom: 90%;
        padding: 0;
        border-radius: 100px;
        cursor: pointer;
        font-size: 1.4rem;
        letter-spacing: 4px;
        background-color: rgba($colorTitle, $alpha: 0.8);
        box-shadow: 2px 2px 10px darken($colorTitle, 60);
        
        &:hover {
            background-color: darken($colorTitle, 50);
            color: lighten($colorTitle, 50);
        }    
        &:active {
           transform: scale(0.9);
        }
    }
}

.about-contact::before{
    content: "";
    position: absolute;
    top: 20vh;
    left: 0;
    width: 100vw;
    height: 20vh;
    //background-color: $colorOrange;
    opacity: 20%;
    //mix-blend-mode: hard-light; /*hace una mezcla de la imagen con la capa de color puesta encima*/
}
.about-contact * {
    z-index: 0;
    position: relative;
}


.footer-derechos {
    
        display: flex;
        justify-content: space-around;
        // align-items: center;
        position: relative;
        // bottom: 0;
        width: 100vw;
        height: 40px;
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: rgba($colorTitle, $alpha: 1);
        //background-color: $colorHoverLink;
        font-size: 1.1rem;

        & a{
            color: $colorHoverLink;
            //color: rgba($colorTitle, $alpha: 0.8);

            &:hover{
                color: $colorSwitchOn;
            }
        }
    
}