

.switch {
    position: relative;
    
    //display: inline-block;
    //margin: 300px 5px;
    //width: 0px;
    //top: -3px;
    //left: -40px;
    margin-right: 4vw;
    margin-top: 0px;
    margin-left: 20px;
    
  }
  
  .switch > span {
    position: absolute;
    //position: relative;
    width: 50%;
    //top: 0px;
    pointer-events: none;
    font-family: $fontPrimary;
    font-size: 1rem;
    font-weight: 900;
    //color: $colorNavLinks;
    text-decoration: none;
    text-align: center;
    text-transform: lowercase;
    
    // text-shadow: 0 1px 0 $colorTitle;
  }

 
  
  // span .check-toggle {
      
  // }
  
  input.check-toggle-round-flat:checked ~ .on {
    //color: $colorSwitchOn;
    color: $colorHoverLink;
  }
  input.check-toggle-round-flat:checked ~ .off {
    color: $colorNavLinks;
  }


  .switch > span.off {
    left: 0;
    padding-left: 0px;
    //color: $colorSwitchOn;
    color: $colorHoverLink;
  }
  .switch > span.on {
    right: 0;
    padding-right: 0px;
    color: $colorNavLinks;
  }

  
  // input {
  //   position: absolute;
  //   margin-left: -9999px;
  //   visibility: hidden;
  
  //   display: block;
  //   position: relative;
    
  //   outline: none;
  //   -webkit-user-select: none;
  //   -moz-user-select: none;
  //   -ms-user-select: none;
  //   user-select: none;
  // }
  
  input.check-toggle-round-flat + label {
    //padding: 0px;
    //margin-top: 0px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    // background-color: darken($colorHoverLink, 0.5);
    
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
//   input.check-toggle-round-flat + label:before {
//     top: 2px;
//     left: 2px;
//     bottom: 2px;
//     right: 2px;
//     //color: $colorSwitchOn;
//     color: blueviolet;
//  
//     -moz-border-radius: 60px;
//     -ms-border-radius: 60px;
//     -o-border-radius: 60px;
//     border-radius: 60px;
//   }

  input.check-toggle-round-flat + label:after {
    top: 0px;
    left: 0px;
    bottom: 2px;
    width: 30px;
    background-color: $colorTitle;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;

    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;

  }
  
    
  input.check-toggle-round-flat:checked + label:after {
    margin-left: 30px;
  }


