$colorTitle     : rgb(233, 233, 233);
$colorNavLinks  : rgb(209, 209, 209); 
$colorText      : rgb(23, 30, 94);
$colorHoverLink : rgb(107, 164, 218);
$colorSwitchOn  : rgb(170, 68, 68);

$fontPrimary    : 'Georgia';
$fontText       : 'Roboto';

